<nz-card style="width: 100%;" nzTitle="Generador de PDF" [nzExtra]="extraTemplate">
    <nz-card-tab>
      <nz-tabset nzSize="large" [(nzSelectedIndex)]="index1">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm">
          <nz-tab nzTitle="Consumidor">
              <p>Content of Tab Pane 1</p>
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="12">
                  <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nombre" nzRequired nzTooltipTitle="Ingresa tu nombre">
                      <span>Nombre</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingresa tu nombre!">
                      <input nz-input id="nombre" formControlName="nombre" />
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                  <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="El e-mail no es valido!">
                      <input nz-input formControlName="email" id="email" />
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="12">
                  <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="direccion" nzRequired nzTooltipTitle="Ingresa tu dirección">
                      <span>Dirección</span>
                    </nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Por favor ingresa tu dirección!">
                      <input nz-input id="direccion" formControlName="direccion" />
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12">
                  <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="numero">Numero célular</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="El numero no es valido!">
                      <input nz-input formControlName="numero" id="numero" />
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <br />
          </nz-tab>
          <nz-tab nzTitle="Orden">
              <p>Content of Tab Pane 2</p>
              <br />
          </nz-tab>
          <nz-tab nzTitle="Detalles adicionales">
              <p>Content of Tab Pane 3</p>
              <br />
          </nz-tab>
        </form>
      </nz-tabset>
    </nz-card-tab>
  </nz-card>
  <ng-template #extraTemplate>
    <button nz-button nzType="primary" (click)="generatePDF()">Primary Button</button>
  </ng-template>
  <br />

