<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="lg"
              [nzCollapsedWidth]="0"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <a href="https://ng.ant.design/" target="_blank">
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
          <h1>Law Helper</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="Documentos penales" nzIcon="dashboard">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/dashboard/docutest">Documento de prueba</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Documento 1</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a>Documento 2</a>
            </li>
          </ul>
        </li>
        <li nz-submenu nzOpen nzTitle="Documentos familiares" nzIcon="form">
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a>Documento 3</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
          </span>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
      <nz-footer>Law Helper ©2021</nz-footer>
    </nz-layout>
  </nz-layout>
  